<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>This is they contact page.</p>
<footer>Elaborado por<footer>
<footer>Jeser Anier Morales Orozco.</footer>
<footer>Carlos Eduardo Quintero Quintana.</footer>